/* PAGE */
.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 64px);
    width: 100%;
  
}

/* WINDOW */
.erreur-wrapper { 
    width: 50%;
    padding: 40px;
    background-color: #ffffff !important;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); 
}

/* STYLES */
.erreur-403-title {
    font-family: 'Inter', sans-serif;
    margin: 0 !important;
    font-size: 30px !important;
    color: rgba(0,0,0,0.85) !important;
}

.erreur-403-sub {
    font-family: 'Inter', sans-serif;
    font-size: 18px !important;
    color: rgba(0,0,0,0.55) !important;
    margin-top: 10px !important;
}

/* BOUTONS */
.btn-connexion {
    background-color: #008B8B !important;
    color : #ffffff ;
    font-size: clamp(0.85rem, 1vw, 1rem);
    font-family: 'Inter', sans-serif;
    width: 120px;
    height: 36px;
    margin-top: 8px;
}

.btn-retour {
    background-color: #ffffff !important;
    color : #008B8B !important;
    font-size: clamp(0.85rem, 1vw, 1rem);
    font-family: 'Inter', sans-serif;
    width: 120px;
    height: 36px;
    margin-top: 8px;
    border: 1px solid #008B8B;
}

.custom-toast-deco {
  position: fixed !important;
  top: 80px !important;
  right: 0px !important;
  left: auto !important;
  width: 35% !important;
}


/* Supprime le centrage par défaut d'Ant Design */
.custom-toast-deco .ant-message-notice {
  text-align: right !important;
}

/* Style du block blanc */
.custom-toast-deco .ant-message-notice-content {
  background: #FFFFFF !important;
  padding: 32px 100px 32px 32px !important;
  border-radius: 2px !important;
  text-align: left;
}
/* Aligne verticalement la coche verte avec le titre */
.custom-toast-deco .ant-message-custom-content {
  display: flex !important;
  align-items: flex-start !important;
}
/* Style de l'icône de succès */
.custom-toast-deco .ant-message-custom-content .anticon {
  font-size: 20px !important;
  margin-right: 10px !important;
  margin-top: 0px;
}