.custom-profile-dropdown {
    padding-top: 17px !important;
}

.custom-profile-dropdown .ant-dropdown-menu {
    width: 180px !important;
    padding: 4px !important;
    border-radius: 8px !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1) !important;
}

.custom-profile-dropdown .ant-dropdown-menu-item {
    display: flex !important;
    text-align: left !important;
}

.custom-profile-dropdown .ant-dropdown-menu-item:not(.ant-dropdown-menu-item-danger):hover {
    background-color: #e6f7f8 !important;
    color: #08979c !important;
}

.custom-profile-dropdown .ant-dropdown-menu-item .anticon {
    margin-right: 8px !important;
}